<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Mission Bay Ltd{% endblock %}</title>
        {{ "app.css" | asset_url | stylesheet_tag }}
        </head>
    <body>
        <section>
            {% include "header" %}  
            {% block content %}{% endblock %}
        </section>

        {% include "footer" %}
    </body>
</html>