// Import Bourbon + Neat
@import "bourbon";
@import "neat";
@import "variables";


html {
    font-family: $helvetica;
    font-size: 15px;
	background-color: $bg-color;
	color: $secondary-color;
}

body {
	padding: 20px 0 0 0;
    margin: 0;
}

header {
    @include outer-container;
}

footer {
    border-top: 50px;
    background-color:$secondary-color;
    color: white;
    padding:50px;
    margin-top:75px ;
}

section {
    @include outer-container;
}

article {
    @include span-columns(12);
    @include omega(1n);
    margin-bottom: 70px;
    padding-top: 20px;
    border-top: 1px solid $secondary-color;
        
        @include media(min-width 320px max-width 768px, 6) {
            @include span-columns(6);
            @include omega(2n);
        }
}

h1 {
	font-size: 50px;
}

h2 {
    font-size: 30px;
    margin: 50px 0;
}

ul {
    list-style: none;
    margin-left: -40px;
}

.clients {
    @include clearfix;
    padding: 0;
    margin:0;
    
    > li {
        
        float: left;
        display: inline;
        padding-bottom: 25px;
        margin: 0;
        height: 250px;
        text-align: center;
        @include span-columns(2);
        @include omega(6n);

            @include media(min-width 769px max-width 924px) {
                @include span-columns(3);
                @include omega(4n);
            }
            
            @include media(min-width 481px max-width 768px) {
                @include span-columns(4);
                @include omega(3n);
            }

            @include media(min-width 320px max-width 480px) {
                @include span-columns(6);
                @include omega(2n);
            }
            @include media(min-width 0px max-width 320px) {
                @include span-columns(12);
                @include omega(1n);
            }
    }
}

.nav {

	@include clearfix;
	padding: 0;
    margin:0;
    display: block;
    text-align: center;
    @include fill-parent;

        @include media(min-width 0px max-width 693px) {
                @include fill-parent;
                list-style: none;
            }

    > li {
        
    	float: left;
    	list-style: none;
        margin-right: 10px;

            @include media(min-width 0px max-width 693px) {
                @include fill-parent;
                text-align: center;
            }

        > a {
            color: $secondary-color;
            padding: 20px 30px;
            text-decoration: none;
            font-weight: bold;
            background-color: $light-grey;

            @include media(min-width 0px max-width 693px) {
                padding: 15px 0px;
                margin-bottom: 1px;
                display: block;
            }
        }
        
        &:first-child > a {
            border-left: none;
        }
        
        &.current > a {
            background-color: $secondary-color;
            color: white;
        }
    }
}

.intro {
    @include span-columns(12);
    font-size: 30px;
    display: block;
    margin: 0 0 50px 0;
}

.tagline {
    @include span-columns(12);
    font-size: 30px;
    display: block;
    margin: 50px 0;
}

.quote {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.btn {
	@include button(#DC322F);
	font-size: 18px;
}